/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */
@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use '../../node_modules/vuetify/lib/styles/tools/functions' as *;

$white: #fff;

// cards
$card-title-size: 18px;
$body-font-family: "Inter", sans-serif;
$border-radius-root: 8px;
$btn-letter-spacing: 0;

// Global Shadowsss
$box-shadow: 0px 1px 4px 0px rgba(133, 146, 173, 0.2);

@forward '../../node_modules/vuetify/settings' with (

    // Global font size and border radius
    $font-size-root: 1rem,
    $border-radius-root: $border-radius-root,
    $body-font-family: "Inter" 'sans-serif',
    $heading-font-family: "Inter" 'sans-serif',

    $typography: (
        'text-h1': ('size': 2.25rem,
            'weight': 600,
            'line-height': 3.75rem,
            'font-family': inherit),
        'text-h2': ('size': 1.875rem,
            'weight': 600,
            'line-height': 2.25rem,
            'font-family': inherit),
        'text-h3': ('size': 1.375rem,
            'weight': 600,
            'line-height': 2rem,
            'font-family': inherit),
        'text-h4': ('size': 1.25rem,
            'weight': 600,
            'line-height': 1.6rem,
            'font-family': inherit),
        'text-h5': ('size': 1.125rem,
            'weight': 600,
            'line-height': 1.6rem,
            'font-family': inherit),
        'text-h6': ('size': 1rem,
            'weight': 600,
            'line-height': 1.2rem,
            'font-family': inherit),
        'text-subtitle-1': ('size': 0.94rem,
            'weight': 400,
            'line-height': 1.1rem,
            'font-family': inherit),
        'text-subtitle-2': ('size': 0.81rem,
            'weight': 400,
            'line-height': 1rem,
            'font-family': inherit),
        'text-body-1': ('size': 0.875rem,
            'weight': 400,
            'font-family': inherit,
            'letter-spacing': 0rem),
        'text-body-2': ('size': 0.75rem,
            'weight': 400,
            'font-family': inherit,
            'letter-spacing': 0rem),
        'text-button': ('size': 0.81rem,
            'weight': 600,
            'font-family': inherit,
            'text-transform': "capitalize"),
        'text-caption': ('size': 0.875rem,
            'weight': 400,
            'font-family': inherit,
            'letter-spacing': 0rem),
        'text-overline': ('size': 0.75rem,
            'weight': 400,
            'font-family': inherit,
            'letter-spacing': 0rem)
    ),    
    // 👉 Button
    $button-border-radius: 30px,
    $button-text-letter-spacing: 0,
    $button-text-transform: capitalize,
    $button-elevation: ('default': 0,
        'hover': 4,
        'active': 8),

    // 👉 Tooltip
    $tooltip-background-color: #212121,
    $tooltip-text-color: rgb(var(--v-theme-on-primary)),
    $tooltip-font-size: 0.75rem,
    $tooltip-border-radius: 4px,
    $tooltip-padding: 4px 8px,

    // 👉 Rounded
    $rounded: (0: 0,
        'sm': $border-radius-root - 4,
        'xs': $border-radius-root + 1,
        'md': $border-radius-root + 4,
        'lg': $border-radius-root * 2,
        'xl': $border-radius-root * 3,
        'pill': 9999px,
        'circle': 50%),

    // 👉 Card
    $card-elevation: 10,
    $card-title-line-height: 1.6,
    $card-text-padding: 24px,
    $card-item-padding: 24px 24px,
    $card-actions-padding: 10px 24px 24px,
    $card-subtitle-opacity: 1,
);